.rooms {
	@apply mt-3;
	.catolog {
		@apply lg:flex justify-between gap-2;
	}
	.head {
		@apply md:flex justify-between items-center mx-auto mt-2 mb-2 w-10/12 grid grid-cols-2 place-items-center;
		h1 {
			@apply font-medium md:text-4xl text-2xl;
			grid-column-start: 1;
			grid-column-end: 3;
		}
		.filter_box {
			@apply hidden;
		}
	}
}
